# Visual Studio Code
.vscode/

# Para ignorar os arquivos binários
# ignorar tudo.
*
# Exceto os arquivos com extensão .c
!*.c
# Exceto os arquivos com extensão .cpp
!*.cpp
# Exceto os arquivos com extensão .inc
!*.inc
# Exceto os arquivos com extensão .asm
!*.asm

# fasm
#fasm/*
#fasm/*.asm

